// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.peach-bg{
    background-color: $peach;
}

.pastel-orange-bg{
    background-color: $pastel-orange;
}

.bg-custard{
    background: $custard;
}

.logo-width-custom{
    width: 100px;
}

.miaclasse{
    background-color: #212121e3;
    border-radius: 30px;
    color: white !important;
}

.width_product-index{
    width: calc(100% / 5);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.width_product-index-price-table{
    width: calc((100% / 5) / 2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    width:100px;
    transition: .3s;
}
.image-container-custom:hover{
    .image{
        position: absolute;
        z-index: 1;
        width: 250px;
    }
}